{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}



{% block body %}
    <section id="add-department" class="primary p-5 pt-1">
        <hr class="line">
        <div class="section-head text-center">
            <h1>Add Department</h1>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <form action="add_department" method="post">
                        {% csrf_token %}
                        <div>
                            <label class="" for="name">Department Name :</label>
                            <input class="form-control" type="text" name="name" id="name">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="description">Description :</label>
                                <textarea class="form-control" name="description" id="description" cols="" rows="6" placeholder="how is your department"></textarea>
                            </div>
                        <div class="mt-3">
                            <button class="btn btn-primary instrument-btn" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    
{% endblock %}